*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
}

.header{
    background-color: red;
    color: white;
    width: 100%;
    text-align: center;
    height: 10vh;
    line-height: 120px;

}

.sub-container{
    height: 80vh;
}

.sidebar{
    background-color: blue;
    color: white;
    width: 40%;
    text-align: center;
    height: 80vh;
    line-height: 1000px;
    float: left;
}

.mainContent{
    background-color: lightblue;
    color: black;
    text-align: center;
    height: 80vh;
    width: 60%;
    line-height: 1000px;
    display: inline-block;
}

.footer{
    background-color: red;
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 10vh;
    line-height: 140px;
}